* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.widthContainer {
    margin: auto;
    width: min(90vw, 1400px);
}

.page {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}

.fullPage {
    height: 100vh;
}

.middleLayer {
    z-index: 2;
}

#headerFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    z-index: 3;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: none;
    transition: 0.3s all;
}

#logo, #logoSmall {
    display: inline-block;
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

#logo a, #logoSmall a {
    text-decoration: none;
    color: black
}

#logoSmall {
    display: none;
}

#logoBold {
    font-weight: 900;
    color: rgb(134, 196, 83);
}

a {
    text-decoration: none;
}

nav ul li {
    position: relative;
    display: inline-block;
    line-height: 3rem;
    margin: 0px 15px;
}

nav ul li:last-of-type {
    margin-right: 0;
    padding-right: 20px;
}

nav ul li:last-of-type img {
    position: relative;
    top: 2px;
}

nav ul li a {
    background-image: linear-gradient(to right, rgb(134, 196, 83) 50%, black 50%);
    background-size: 200%;
    background-position: -100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.1s ease-in-out;
}

nav ul li a:hover {
    background-position: 0;
}

nav ul li a::before {
    content: '';
    background: rgb(134, 196, 83);
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    border-radius: 5px;
    width: 0;
    height: 2px;
    transition: all 0.1s ease-in-out;
}

nav ul li a:hover::before {
    width: 100%;
}

.button {
    background-color: rgb(134, 196, 83);
    background-image: none;
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: white;
    border: none !important;
    border-radius: 30px !important;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
    padding: 10px 20px;
    color: white;
}

.button:hover {
    background-color: rgb(72, 137, 19);
    text-shadow: 2px 2px 5px black;
    box-shadow: 0px 0px 5px white;
}

nav ul li a#contactButton {
    background-image: none;
}

nav ul li a#contactButton:hover::before {
    width: 0%;
}

#translator {
    cursor: pointer;
}

#home {
    background-image: url(../img/hero_dallE_BW.png);
    background-size: cover;
    background-position: right;
}

#homeText {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#helloThere {
    font-size: 5rem;
    font-weight: 800;
    width: 40vw;
}

.greenText {
    color: rgb(134, 196, 83);
    text-shadow: 0px 0px 10px white;
}

.heroText {
    font-size: 2.3rem;
    width: 35vw;
    background-color: rgb(255, 255, 255, 50%);
    border-radius: 30px;
    padding: 30px;
}

.socialLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 175px;
    justify-content: space-between;
    margin-top: 20px;
}

.socialLinks2 {
    position: absolute;
    margin-top: 5px;
    width: 200px;
}

.socialButton {
    height: 50px;
    width: 50px;
}

.socialButton img {
    height: 100%;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.scroll a {
    text-decoration: none;
    color: black;
}

.scroll i {
    padding: 0 10px;
    animation: scrollArrows 3s infinite;
}

@keyframes scrollArrows {
    0%, 50%, 80%, 100% {
        position: relative;
        top: 0;
    }
    55%, 65% {
        position: relative;
        top: -5px;
    }
    60%, 70% {
        position: relative;
        top: 5px;
    }
}

h1 {
    font-size: 3rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
}

h2 {
    font-size: 17vw;
    color: rgba(2, 51, 4, 0.1);
    text-align: right;
    position: absolute;
    right: 0vw;
    bottom: -7.5vw;
    z-index: 1;
}

#projects {
    background-color: rgb(103, 164, 51);
}

.projectsCards {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.pC2 {
    margin-top: 0;
    justify-content: space-evenly;
}

.otherProjects {
    margin-top: 25px;
    justify-content: space-evenly;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.pCard {
    display: inline-block;
    width: 20%;
    height: 50vh;
    background-color: rgb(255, 255, 255, 50%);
    border-radius: 30px;
    padding: 20px 15px 15px 15px;
    z-index: 2;
}

.pCardContent {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: rgb(255, 255, 255, 50%) rgb(0, 0, 0, 0%);
    scrollbar-width: thin;
}

.pCardContent::-webkit-scrollbar {
    width: 6px;
}

.pCardContent::-webkit-scrollbar-track {
    opacity: 0;
}

.pCardContent::-webkit-scrollbar-track-piece {
    opacity: 0;
}

.pCardContent::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, 50%);
    border-radius: 10px;
}

.pCardContent img {
    width: min(280px, 80%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.pCardContent em {
    height: 30px;
    line-height: 30px;
    font-weight: 200;
    border-top: 1px dotted darkolivegreen;
    border-bottom: 1px dotted darkolivegreen;
}

.cardTitle {
    font-size: 150%;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cardTitle .button {
    display: block;
    font-size: initial;
    padding: 2px;
    width: 100px;
    margin: auto;
}

.cardDescription {
    border-top: 1px dotted darkolivegreen;
    flex-grow: 2;
}

.vertAl {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.vertAl div {
    margin-bottom: 10px;
}

.fa-arrow-up-right-from-square {
    margin-left: 10px;
}

.cardTitle ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}

.cardTitle ul li {
    display: flex;
}

.cardTitle img {
    width: 30px;
}

.loadMore {
    width: 100px;
    text-align: center;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#about {
    background-color: rgb(159, 197, 125);
}

#aboutFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#aboutFlexLeft {
    width: 50%;
    z-index: 2;
}

#firstHead {
    margin-top: 200px;
}

.aboutBox {
    background-color: rgb(255, 255, 255, 40%);
    border-radius: 30px;
    padding: 20px 15px 15px 15px;
    margin-bottom: 15px;
}

.aboutHeadline {
    font-weight: 200;
}

.aboutTitle {
    font-size: 150%;
    font-weight: 700;
}

.aboutInfo {
    font-size: 125%;
    font-weight: 300;
}

#skillsFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.skillButton {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 0;
    padding-left: 10px;
    margin: 5px 5px 5px 0;
    font-weight: 600;
}

.skillButton img {
    display: inline-block;
    height: 18%;
    margin-top: 6px;
    margin-right: 10px;
}

@-moz-document url-prefix() {
    .skillButton {
        display: flex;
    }

    .skillButton img {
        height: 75%;
    }
}

.HTML5 {
    background-color: rgb(251, 100, 62);
    border-color: rgb(210, 71, 35);
}

.CSS3 {
    background-color: rgb(98, 183, 252);
    border-color: rgb(33, 150, 243);
}

.SQL {
    background-color: rgb(27, 153, 250);
    border-color: rgb(0, 121, 214);
}

.JavaSE {
    background-image: linear-gradient(to top, rgb(155, 188, 255)30%, rgb(255, 156, 132) 70%);
    border-color: rgb(115, 161, 251);
}

.JavaEE {
    background-color: rgb(255, 183, 82);
    border-color: rgb(249, 154, 27);
}

.JavaScript {
    background-color: rgb(255, 228, 78);
    border-color: rgb(248, 215, 27);
}

.React {
    background-color: rgb(136, 229, 255);
    border-color: rgb(97, 218, 251);
}

.GIT {
    background-color: rgb(255, 124, 101);
    border-color: rgb(240, 80, 51);
}

.UML {
    background-color: rgb(246, 112, 150);
    border-color: rgb(150, 36, 68);
}

.more {
    font-weight: 300;
}

#aboutFlexRight {
    width: 50%;
    z-index: 2;
}

#aboutFlexRight img {
    display: block;
    height: 70vh;
    margin: 200px 0 0 auto;
    box-shadow: 0px 0px 15px rgba(85, 107, 47, 0.5);
    border-radius: 5px;
}

#download {
    position: relative;
    top: -10px;
    right: -1px;
    box-shadow: 0px 0px 10px rgb(44, 58, 18);
    border-radius: 30px 0 30px 30px !important;
}

#centerDownload {
    text-align: right;
}

#contact {
    background-color: rgb(236, 219, 175);
}

#contact iframe {
    display: inline-block;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 75px;
}

#contactFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#contactFlexLeft {
    display: inline;
    flex-grow: 1;
}

.contactHero {
    font-size: 2rem;
    text-align: center;
    width: min(90vw, 1100px);
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#formGrid {
    display: grid;
    width: 25vw;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    gap: 10px 20px;
}

#formGrid input, textarea {
    border: 2px solid rgb(96, 169, 37);
    border-radius: 5px;
    outline: none;
}

#formGrid textarea {
    width: 99%;
}

.formSpan {
    grid-column-start: 2;
    grid-column-end: 5;
}

.submitButton {
    grid-column-start: 4;
    grid-column-end: 5;
    font-size: 1rem;
    border: none;
}

#formCondition {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
}

#contactFlexRight {
    display: flex;
    flex-direction: column;
    text-align: right;
}

#contactFlexRight a {
    text-decoration: none;
    color: black;
}

#contactName {
    margin: unset;
    font-size: 1.5rem;
    font-weight: 800;
}

#messageLengthCounter {
    position: relative;
    top: -5px;
    font-size: 80%;
    text-align: right;
}

@-moz-document url-prefix() {
    #messageLengthCounter {
        top: unset;
    }
}

.incorrectInput {
    border: 2px solid red !important;
}

.incorrectInput::before {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    content: "\f057";
}

.incorrectText {
    color: red;
}

.incorrectCommentary {
    font-size: 12px;
    color: red;
}

.incorrectCommentary::before {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    content: "\f057   ";
}

.correctInput::before {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    content: "\f058";
}

.correctCommentary {
    font-size: 12px;
    color: rgb(0, 177, 0);
}

.correctCommentary::before {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    content: "\f058   ";
}

.alertsRight {
    text-align: right;
}

.emptyAlert, .emptyAlertForMessage {
    display: none;
}

.emptyAlertActive {
    display: inline-block;
}

#copyright {
    margin-top: 5px;
    font-size: 70%;
    font-weight: 200;
    text-align: center;
}

@media (max-width: 1550px) {
    #helloThere {
        font-size: 3.5rem;
    }
    
    .heroText {
        font-size: 1.5rem;
        padding: 15px;
        font-weight: 500;
    }
    
    #skillsFlex {
        justify-content: space-evenly;
    }
}

@media (max-width: 1350px) {
    #aboutFlexLeft {
        width: 60%;
    }

    #aboutFlexRight {
        width: 40%;
    }

    #aboutFlexRight img {
        height: 50vh;
        margin-top: 300px;
    }
    
    #contactFlex {
        flex-direction: column;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    #contactFlexRight {
        margin-top: 50px;
    }
}

@media (max-width: 1100px) {
    #home {
        background-image: url(../img/hero_dallE_BW_portrait.png);
        background-position: center;
    }
    
    #homeText {
        position: absolute;
        top: 80%;
        transform: translate(0, -80%);
        width: 90vw;
        margin: auto;
        text-align: center;
    }
    
    #helloThere {
        width: unset;
    }
    
    .heroText {
        font-size: 2rem;
        width: unset;
        padding: 15px;
        font-weight: 500;
    }
    
    .socialLinks {
        width: 30vw;
        margin: auto;
        justify-content: space-between;
        margin-top: 20px;
    }

    .socialLinks2 {
        position: absolute;
        margin-top: 5px;
        width: 200px;
    }

    .scroll {
        width: 90vw;
        text-align: center;
        font-size: 150%;
    }

    .pCard {
        width: 40%;
        height: unset;
        margin: 10px 0;
        padding-bottom: 8px;
    }
    
    .vertAl div {
        margin-top: 2px;
        margin-bottom: 0;
        font-size: 90%;
    }

    #aboutFlex {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #aboutFlexLeft {
        width: 100%;
    }

    #aboutFlexRight {
        width: 100%;
        align-content: center;
    }

    #aboutFlexRight img {
        height: unset;
        width: 60vw;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #centerDownload {
        text-align: center;
    }

    #download {
        top: -60px;
        border-radius: 30px 30px 30px 30px !important;
    }

    .contactHero {
        font-size: 1.5rem;
        margin-top: 200px;
        margin-bottom: 50px;
    }
}

@media (max-width: 770px) {
    #logo {
        margin-left: 10px;
    }

    nav ul {
        display: none;
        opacity: 0;
    }

    .navClicked {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 70px;
        width: min-content;
        text-align: right;
        margin-right: 15px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.3s all;
        opacity: 1;
        animation: ease-in-out .3s openDropdown;
    }

    .navClickedScrolled {
        background-color: white;
        box-shadow : 0px 0px 5px rgb(91, 110, 91);
    }
        
    @keyframes openDropdown {
        0% {
            right: -30px;
            opacity: 0;
        }
        100% {
            right: 0;
            opacity: 1;
        }
    }

    nav ul li a#contactButton {
        background-image: linear-gradient(to right, rgb(134, 196, 83) 50%, black 50%);
    }
    
    nav ul li a#contactButton:hover::before {
        width: 100%;
    }

    nav ul li:last-of-type {
        margin-right: inherit;
    }

    .burgerMenu {
        border-radius: 2px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-right: 50px;
        text-align: right;
    }

    .burgerBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        cursor: pointer;
    }

    .burgerSpan {
        display: block;
        width: 100%;
        border-radius: 3px;
        height: 4px;
        background: #86C453;
        transition: all .2s;
        position: relative;
    }

    .burgerSpan + .burgerSpan {
        margin-top: 8px;
    }
      
    .active .burgerSpan:nth-child(1) {
    animation: ease .3s top forwards;
    }
    
    .not-active .burgerSpan:nth-child(1) {
    animation: ease .3s top-2 forwards;
    }
    
    .active .burgerSpan:nth-child(2) {
    animation: ease .1s scaled forwards;
    }
    
    .not-active .burgerSpan:nth-child(2) {
    animation: ease .3s scaled-2 forwards;
    }
    
    .active .burgerSpan:nth-child(3) {
    animation: ease .3s bottom forwards;
    }
    
    .not-active .burgerSpan:nth-child(3) {
    animation: ease .3s bottom-2 forwards;
    }
    
    @keyframes top {
        0% {
            top: 0;
            transform: rotate(0);
        }
        50% {
            top: 12px;
            transform: rotate(0);
        }
        100% {
            top: 12px;
            transform: rotate(45deg);
        }
    }
    
    @keyframes top-2 {
        0% {
            top: 12px;
            transform: rotate(45deg);
        }
        50% {
            top: 12px;
            transform: rotate(0deg);
        }
        100% {
            top: 0;
            transform: rotate(0deg);
        }
    }
    
    @keyframes bottom {
        0% {
            bottom: 0;
            transform: rotate(0);
        }
        50% {
            bottom: 12px;
            transform: rotate(0);
        }
        100% {
            bottom: 12px;
            transform: rotate(135deg);
        }
    }
    
    @keyframes bottom-2 {
        0% {
            bottom: 12px;
            transform: rotate(135deg);
        }
        50% {
            bottom: 12px;
            transform: rotate(0);
        }
        100% {
            bottom: 0;
            transform: rotate(0);
        }
    }
    
    @keyframes scaled {
        50% {
            transform: scale(0);
        }
        100% {
            transform: scale(0);
        }
    }
    
    @keyframes scaled-2 {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    #helloThere {
        font-size: 3rem;
    }
    
    .heroText {
        font-size: 1.5rem;
    }

    h2 {
        float: right;
        font-size: 30vh;
        text-align: unset;
        position: absolute;
        right: -20vw;
        bottom: 100vh;
        rotate: -90deg;
        transform-origin: 100% 100%;
        z-index: 1;
    }

    #firstHead {
        margin-top: 150px;
    }
    
    .skillButton {
        display: flex;
        width: 150px;
        font-size: 80%;
    }

    .skillButton img {
        height: 75%;
    }

    #contactFlexLeft {
        width: 80vw;
    }

    #formGrid {
        width: unset;
    }

    #contact iframe {
        width: 80vw;
    }
}

@media (max-width: 550px) {
    #headerFlex {
        width: 85vw;
    }

    #logo {
        font-size: 1.5rem;
    }

    .navClicked {
        top: 60px;
    }

    .burgerSpan {
        height: 3px;
    }

    .burgerSpan + .burgerSpan {
        margin-top: 6px;
    }

    @keyframes top {
        0% {
            top: 0;
            transform: rotate(0);
        }
        50% {
            top: 9px;
            transform: rotate(0);
        }
        100% {
            top: 9px;
            transform: rotate(45deg);
        }
    }
    
    @keyframes top-2 {
        0% {
            top: 9px;
            transform: rotate(45deg);
        }
        50% {
            top: 9px;
            transform: rotate(0deg);
        }
        100% {
            top: 0;
            transform: rotate(0deg);
        }
    }
    
    @keyframes bottom {
        0% {
            bottom: 0;
            transform: rotate(0);
        }
        50% {
            bottom: 9px;
            transform: rotate(0);
        }
        100% {
            bottom: 9px;
            transform: rotate(135deg);
        }
    }
    
    @keyframes bottom-2 {
        0% {
            bottom: 9px;
            transform: rotate(135deg);
        }
        50% {
            bottom: 9px;
            transform: rotate(0);
        }
        100% {
            bottom: 0;
            transform: rotate(0);
        }
    }

    #helloThere {
        font-size: 3rem;
    }

    .heroText {
        font-size: 1rem;
    }

    .socialLinks {
        width: 50vw;
    }

    .socialLinks2 {
        position: relative;
        margin-top: 20px;
        width: 150px;
    }
    
    .socialButton {
        height: 40px;
        width: 40px;
    }

    .scroll {
        font-size: 100%;
    }

    .projectsCards {
        margin-top: 150px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    .pC2 {
        margin-top: 0;
    }
    
    .otherProjects {
        display: block;
        align-items: center;
        margin-top: 5px;
    }

    .pCard {
        width: 80%;
    }

    .cardTitle {
        margin-bottom: 5px;
    }

    .cardDescription {
        display: none;
    }
    
    h1 {
        font-size: 2rem;
        top: 90px;
    }

    .contactHero {
        font-size: 1rem;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    #formGrid {
        grid-template-columns: 1fr 2fr;
        gap: 10px 20px;
    }

    .formSpan {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .submitButton {
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 1rem;
        border: none;
    }
    
    #formCondition {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: right;
        color: rgba(0, 0, 0, 0.5);
    }

    #contactFlexRight {
        text-align: center;
    }
}

@media (max-width: 350px) {
    #headerFlex {
        width: 80vw;
    }

    #logo {
        font-size: 1.2rem;
    }

    .burgerSpan {
        height: 2px;
    }

    .burgerSpan + .burgerSpan {
        margin-top: 4px;
    }

    @keyframes top {
        0% {
            top: 0;
            transform: rotate(0);
        }
        50% {
            top: 6px;
            transform: rotate(0);
        }
        100% {
            top: 6px;
            transform: rotate(45deg);
        }
    }
    
    @keyframes top-2 {
        0% {
            top: 6px;
            transform: rotate(45deg);
        }
        50% {
            top: 6px;
            transform: rotate(0deg);
        }
        100% {
            top: 0;
            transform: rotate(0deg);
        }
    }
    
    @keyframes bottom {
        0% {
            bottom: 0;
            transform: rotate(0);
        }
        50% {
            bottom: 6px;
            transform: rotate(0);
        }
        100% {
            bottom: 6px;
            transform: rotate(135deg);
        }
    }
    
    @keyframes bottom-2 {
        0% {
            bottom: 6px;
            transform: rotate(135deg);
        }
        50% {
            bottom: 6px;
            transform: rotate(0);
        }
        100% {
            bottom: 0;
            transform: rotate(0);
        }
    }

    #helloThere {
        font-size: 2rem;
    }

    h1 {
        top: 80px;
    }
}

@media (max-width: 280px) {
    #headerFlex {
        width: 75vw;
    }

    #logo {
        display: none;
    }

    #logoSmall {
        display: inline-block;
        font-size: 1.2rem;
        margin-left: 10px;
    }

    #helloThere {
        font-size: 1.5rem;
    }

    .heroText {
        font-size: 0.8rem;
    }
    
    .socialButton {
        height: 30px;
        width: 30px;
    }

    .scroll {
        font-size: 90%;
    }
}

#helloThere.shortVP {
    font-size: 1.5rem;
}

.heroText.shortVP {
    font-size: 0.8rem;
    width: 50vw;
    margin: auto;
}

.heroText.shortVP .socialLinks {
    width: 40%;
}

.heroText.shortVP .socialButton {
    height: 30px;
    width: 30px;
}

.scroll.shortVP {
    font-size: 80%;
    bottom: 5px;
}